
<!-- Banner -->

<div class="banner">
  <div class="banner-content">

		<div class='logo-image'>
		<div class='text-logo'>Toolmash</div>
		</div>

		<div class='opening-text'>
			<span class="opening-text-name">ToolMash</span> Any tool, any time for one simple monthly payment. 
		</div>


  </div>
</div>

<!-- Features -->

<div class="big-container">

<div class="container-fluid">

    <div class="mid-text-container">
        <h1>Is Toolmash for you?</h1>
          <p>We want to democratize the utilization of high-cost tools and machinery</p>
    </div>


    <div class="row">

        <div class="service-box col-sm-4">
            <div class="square animated bounceIn">
                <%= image_tag('profile.png', id: 'blah', class: 'media-img', alt: 'About') %>
            </div>
            <h2>
                Contractor
            </h2>
            <p>
                Are you in the construction business and frequently rent out equipment at exceedingly high rates? Toolmash is for you
            </p>
        </div>

        <div class="service-box col-sm-4">
            <div class="square animated bounceIn">
                <%= image_tag('nudge.png', class: 'media-img', alt: 'About') %>
            </div>
            <h2>
                Builder
            </h2>
            <p>
                Are you a DYI enthusiast, build/fix things on your spare time & need tools for one-time projects? Toolmash is for you. 
            </p>
        </div>

        <div class="service-box col-sm-4">
            <div class="square animated bounceIn">
                <%= image_tag('getnoticed.png', class: 'media-img', alt: 'About') %>
            </div>
            <h2>
                Experimenter
            </h2>
            <p>
                Are you someone who likes trying new tools and seeing what you can build with them? Toolmash is for you.
            </p>
        </div>


    </div>

</div>

</div>


<!-- signup form -->

<div class="subscription-section">

    <div class="container-fluid">

        <div class="row">

            <div class="newsletter-form-img col-md-4 col-lg-6">
                <div class="container-form-image">
                    <%= image_tag('email.png', class: 'subscription-img', alt: 'subscription-image') %>
                </div>
            </div>

            <div class="newsletter-form-content col-md-8 col-lg-6">
                <p>Sign Up For Free</p>
                <p>Get early access to the revolutionary platform</p>
            
                    <div class="form-subscribe">
                       
                        <form action="http://toolmash.us8.list-manage.com/subscribe/post" method="POST" role="form">

                            <div class="form-inputs subscription-box">

                                <input type="hidden" name="u" value="c50dae01481d495cdc2281893">
                                <input type="hidden" name="id" value="ff3b241ae4">

                                <div class: "form-space">
                                    <div class: "form-group">
                                       <input type="text" name="MERGE1" id="MERGE1" class="form-control" size="25" value="" placeholder="First Name">
                                    </div>
                                </div>
                                <div class: "form-space">
                                    <div class: "form-group">
                                        <input type="text" name="MERGE2" id="MERGE2" class="form-control" size="25" value="" placeholder="Last Name">
                                    </div>
                                </div>
                                <div class: "form-space">
                                    <div class: "form-group">
                                        <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" class="form-control" size="25" value="" placeholder="Email">
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                              <input type="submit" class="btn btn-default btn-lg" name="submit" value="Sign up!">
                            </div>

                       

                    </div>
            </div>



        </div>

    </div>

</div>



<!-- imagebreak -->

<div class="image-break">
    <div class="mid-text-container">
        <h1>
        <b>You can donate a tool for a 6 month free subscription</b>
        </br>
        <b>Best of all you still have access to the tool through our tool repository ordering system</b>
        </h1>
    </div>

</div>



<!-- Examples -->

<div class="big-container-example">

<div class="container-fluid">

    <div class="mid-text-container-example">
        <h1></h1>
          <h3>How it works</h3>
    </div>


    <div class="row">

        <div class="example-box col-sm-4">
            <h1>Sign Up</h1>
            </br>
            </br>
            <div class="square animated bounceIn">
                <span class="glyphicon glyphicon-ok-sign"></span>
            </div>
                </br>
                <h3>Sign up to our monthly subscription service.
                </h3>
        </div>

        <div class="example-box col-sm-4">
            <h1>Order</h1>
            </br>
            </br>
            <div class="square animated bounceIn">
                <span class="glyphicon glyphicon-transfer"></span>
            </div>
                </br>
                <h3>Request it through our user interface. Simple search and one click order.   
                </h3>
        </div>

        <div class="example-box col-sm-4">
            <h1>Build</h1>
            </br>
            </br>
            <div class="square animated bounceIn">
                <span class="glyphicon glyphicon-wrench"></span>
            </div>
                </br>
                <h3>Have the tool delivered and start building!  
                </h3>
        </div>


    </div>

</div>

</div>

