<footer class="footer">
  <div class="bottom-container">
      <div class="container-fluid">

<!-- Ask -->



        <div class="random">

                <div class="row footer-row">
                    <div class="footer-box col-sm-12">
                        <div class="social-links">
                            <%= link_to image_tag('facebook-white.png', id: 'blah', class: 'footer-img', alt: 'About'), 'https://www.facebook.com/krowdprize' %>
                            <%= link_to image_tag('twitter-white.png', id: 'blah', class: 'footer-img', alt: 'About'), 'https://twitter.com/Krowdprize' %>
                        </div>
                    </div>
              
               </div>

      </div>
    </div>

                  <div class="email-block">
                      <p>hello@krowdprize.com</p>
                  </div>
                  <div class="bottom">
                      <p>© 2014 Krowdprize</p>
                  </div>


  </div>

</footer>